<div class="card">
    <div class="card-body bottom-img-card-container">
        <h5 class="card-title">{{.Title}}</h5>
        <div class="row card-text">
            <div class="col-10 p-0">
                <p>{{.Content}}</p>
            </div>
            <div class="col-2">
                <a href="#">
                    <img src="images/path.png" />
                </a>
            </div>
        </div>
        <a href="#">Read More</a>
        <div class="row bottom-img-container">
            <img src="{{.Params.bottomImage1}}" />
            <img class="d-none d-md-block" src="{{.Params.bottomImage2}}" />
        </div>
    </div>
</div>