<footer>
    <div class="container mt-3 pl-5 pr-5">
        <div class="row">
            <div class="col-sm-3 col-center text-center">
                <div class="mb-4 mb-sm-0">
                    <button class="free-trial-btn">FREE TRIAL</button>
                </div>

                <div class="mt-sm-5 d-none d-sm-block">
                    © Datadog 2017
                </div>
            </div>
            <div class="col-sm-5">
                <span class="h6">Product</span>
                <div class="footer-nav-links">
                    <div class="row">
                        <div class="col-sm-6 pb-0">
                            <ul class="mb-0">
                                {{ range first 6 .Site.Menus.product}}
                                    <li><a href="{{.URL}}">{{.Name}}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                        <div class="col-sm-6 pt-0">
                            <ul>
                                {{ range after 6 .Site.Menus.product }}
                                    <li><a href="{{.URL}}">{{.Name}}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="h6">About</span>
                        <div class="footer-nav-links">
                            <ul>
                                {{ range .Site.Menus.about}}
                                    <li><a href="{{.URL}}">{{.Name}}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span class="h6">Social</span>
                        <div class=footer-nav-links>
                            <ul>
                                {{ range .Site.Menus.social }}
                                    <li><a href="{{.URL}}">{{.Name}}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-sm-5 d-block d-sm-none pl-5">
        © Datadog 2017
    </div>
    <div class="terms-links">
        <a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Cookies</a>
    </div>

</footer>