<div class="card">
    <div class="card-body card-logos">
        <div class="row">
            <div class="col-4">
                <div class="row logo-container logo-1 logo-row">
                    <img src="images/airbnb.svg" alt="airbnb" width="113" height="35" />
                </div>
                <div class="row logo-container logo-2 logo-row">
                    <img src="images/peloton.svg" alt="Peloton" width="128" height="38" />
                </div>
            </div>
            <div class="col-8 testimonial-container">
                <img class="company-logo" src="{{.Params.companyLogo}}" alt="{{.Title}}">
                <p class="card-text">{{ .Content }}</p>
                <div class="testimonial-author">
                    <p>{{ .Params.author }}</p>
                    <p>{{.Params.role}}</p>
                </div>

                <a href="#">See More Stories</a>
            </div>
        </div>
        <div class="row logo-row">
            <div class="col-4 logo-container logo-3">
                <img src="images/evernote.svg" alt="Evernote" width="137" height="33">

            </div>
            <div class="col-4 logo-container logo-4">
                <img src="images/samsung.svg" alt="Samsung" width="118" height="18" />
            </div>
            <div class="col-4 logo-container logo-5">
                <img src="images/nginx.svg" alt="NGINX" width="97" height="21" />
            </div>
        </div>
        <div class="row logo-row">
            <div class="col-4 logo-container logo-6">
                <img src="images/pagerduty.svg" alt="Pagerduty" width="129" height="47" />
            </div>
            <div class="col-4 logo-container logo-7">
                <img src="images/wholefoods.svg" alt="Whole Foods" width="137" height="24" />
            </div>
            <div class="col-4 logo-container logo-8">
                <img src="images/att.svg" alt="AT&T" width="100" height="40" />
            </div>
        </div>
    </div>
</div>